@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Mukta";
}

header {
    color: #fff;

    padding: 25px;
    background-color: brown;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}


header button {
    background: transparent;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    color: #eee;
    border: 1px solid #eeeeee;
    cursor: pointer;
}

nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: brown;
    left: -100%;
    top: 103px;
    width: 100%;
    background-color: #576574;
    
    transition: all .3s ease;
}

nav div {
    flex-grow: 1;
}

nav a {
    color: #fff;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 5px 10px;
    transition: all .3s ease;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 8px;
    width: 90%;
    margin: auto;
}

main::before {
    content: "";
    width: 100%;
    height: 170px;
    display: block;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 8px;
}

.products-grid span {
    display: block;
    text-align: right;
    font-weight: bold;
    gap: 4px;
}

.product-card img {
    width: 100%;
    object-fit: contain;
}

.product-card {
    width: 100%;;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,.1);
    border: .5px solid #33333355;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-card button {
    width: 100%;
    background-color: brown;
    color: #eee;
    border: none;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.product-card p {
    flex: 1;
}


.product-card div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media screen and (min-width: 480px) {
    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    nav {
        position: static;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        background-color: brown;
        gap: 20px;
        margin-top: 20px;
    }

    header button {
        display: none;
    }

    header {
        display: flex;
        flex-direction: column;
    }


}

@media screen and (min-width: 768px) {
    .products-grid {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media screen and (min-width: 1280px) {
    .products-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}


.visible {
    left: 0;
}